![Callysto.ca Banner](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-top.jpg?raw=true)

<a href="https://hub.callysto.ca/jupyter/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fcallysto%2Fhackathon&branch=master&subPath=SustainabilityOnMars/CuriosityTrack/challenge-3.ipynb&depth=1" target="_parent"><img src="https://raw.githubusercontent.com/callysto/curriculum-notebooks/master/open-in-callysto-button.svg?sanitize=true" width="123" height="24" alt="Open in Callysto"/></a>

# <p style="text-align: center;"> 📌 Challenge 3: Narrowing Down the Data </p>

You've done great getting to this point. Now that we are getting more comfortable with data science, let's work on our skills at narrowing down the data. This will help us narrow down *which* pets we should consider based on different criteria. This part might get a little tough, so make sure you ask for help if you get stuck!

![https://publicdomainvectors.org/en/free-clipart/Open-book-and-magnifying-glass/85092.html](Images/magnify.jpg)
# <p style="text-align: center;"> 🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟 </p>

In [ ]:
#❗️Run this cell
import interactive as i
from IPython.display import YouTubeVideo
YouTubeVideo('gCcyJdQyvjo')

### 📕 Debrief: Getting Unique Entries in a Column

**Unique Values `.unique()`**: Sometimes instead of viewing all the values in a column, we just want to see the different types of values instead. For example, in this dataset it can be useful to know what types of animals there are without knowing all of them. We can do this by writing `dataset.["column_name"].unique()`. Note the `.unique()` is at the end.

In [8]:
#❗️Run this cell
i.challenge3a()

 🐶 Rover: Now, because all the pet names are unique we should try using another column of data.
Hmm, how about animal types? Or better yet, the number of legs on each animal!
✅ Fill in the command to get the unique values for the number of legs in the pets data
petlegs = pets["Legs"].unique()
🤩 Glad we have you around!

array([4, 3, 8])

### 📕 Debrief: Narrowing Down Data Based on Criteria

**Basic Operators**: In computer programming languages, we can do a lot of things using basic math alone. With data, we can use symbols like `>, <, ==, %, /, *` and others to do cool things. 

For instance, if we wanted to select all entries in a dataset's column with a value above 5, we could do `dataset["column_name"] >= 5`. This will give us the all of the matching data entries who's value in the column is greater or equal to 5. 

We can also use words as long as they are in quotes (case-sensitive), such as `dataset["column_name"] == "searchterm"`. The `==` means that it has to be exactly that.

**Logical Operators**: To use more than one we need to use a logical operators. For example, `&` means and, `|` (vertical bar) means or, and `~` means not. Therefore we can do something like: `dataset["column_name"] >= 5 & dataset["column_name"] < 10` or even: `dataset["column_name"] >= 5 | dataset["column_name"] < 2 ` 

*Learn more about operators [here](https://www.w3schools.com/python/python_operators.asp).*

In [9]:
#❗️Run this cell
i.challenge3b()

 🐶 Rover: Based on the last challenge, it seems we have a 3 legged animal! Do you know any reason why that might be?
Let's try and find out which animals are 3 legged.
 🐶 Rover: First, we'll need to use a basic operator on the 'Legs' column to find the ones that equal to 3.
✅ Try filling in the command
pets['Legs'] == 3
😎 What a rockstar coder!

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
Name: Legs, dtype: bool

### 📕 Debrief: Locating a Data Entry

**Locating Data Using Labels `.loc`**: You may notice that when doing the above you only get `True/False` values. We can get the actual rows of data by using by using `dataset.loc[label]`. Basic operators can act as labels. For example, I can use something like: 
`dataset.loc[dataset["column_name"] >= 5]` to get all the rows with a value of greater than 5 for a given column. You can also have multiple operators, such as `.loc[basic_operator1 & basic_operator2]`.

We can get the actual rows of data by using by using `dataset.loc[label]` such as getting data from row 30 you would use `dataset.loc[30]`.

In [14]:
#❗️Run this cell
i.challenge3c()

 🐶 Rover: Looks like there's only one row that returns  True  can you use  .loc  to find out more?
✅ Fill in the command:
pets.loc[[19]]
🤩 You're out of this world!

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks)
19,Lucky,dog,male,3,True,3,45.4,9

In [16]:
#❗️Run this cell
i.challenge3d()

✅ Awesome! Now try to write an operator that can find all animals over 100 pounds!
pets.loc[pets["Weight (lbs)"] >= "100"]
❗️ Try  [pets["column_name"] > number_of_lbs]  where the column is 'Weight (lbs)' and number of lbs is 100 Remember: spelling and spaces matter!
✅ Awesome! Now try to write an operator that can find all animals over 100 pounds!
pets.loc[pets["Weight (lbs)"] > 100]
🎉 What a rockstar coder!

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks)
9,Boo-boo,dog,male,11,True,4,123.0,24
13,Midnight,dog,female,5,False,4,112.0,4
18,Mr. Peanutbutter,dog,male,10,False,4,161.0,6
20,Kujo,dog,male,8,False,4,172.0,30

 🐶 Rover: Wow! You're really good. I always had trouble with doing that stuff. How about we try to do both at once? I think the format was  pets.loc[(operator1) & (operator2)]
✅ Try to combine the two operators you wrote previously. Remember to always have matching brackets!
pets.loc[pets["Species"] == ["dog"]] & [pets["Weight(lbs)"] > 100]
❗️ This one is definitely tricky! Try seeing what you may have missed by comparing your answer to this:
 pets.loc[(pets['Weight (lbs)'] > 100) & (pets['Species'] == 'dog')]
Note that when we have 2 or more, we need to separate them by putting each one in  ( )
✅ Try to combine the two operators you wrote previously. Remember to always have matching brackets!
pets.loc[(pets["Weight (lbs)"] > 100) & (pets["Species"] == "dog")]
🚀 You're out of this world!

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks)
9,Boo-boo,dog,male,11,True,4,123.0,24
13,Midnight,dog,female,5,False,4,112.0,4
18,Mr. Peanutbutter,dog,male,10,False,4,161.0,6
20,Kujo,dog,male,8,False,4,172.0,30

# 📚 Challenge Complete!

### What is the name of the three legged pet? **Write it down below!!**

✏️    DOUBLE CLICK HERE AND PROVIDE YOUR ANSWER    ✏️ Lucky

### <p style="text-align: right;"> ...continue to [Challenge 4!](./challenge-4.ipynb)</p>

# <p style="text-align: center;"> 🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟 </p>

[![Callysto.ca License](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-bottom.jpg?raw=true)](https://github.com/callysto/curriculum-notebooks/blob/master/LICENSE.md)